.advantage-section{
    background-color: #ACABAB;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 30px;
}
.advantage-section .content{
    background-color: #2E205B;
}
.ad-text{
    color: #f8f8f4;
}

.icons{
    color: orange;
    font-size: 50px;
}
.card-hover:hover{
    background-color: #455055;
    
}
.card-hover:hover .icons{
    color: #ffffff;
}

.card-hover:hover .ad-text{
    color: #ffffff;
}